.partners-frame {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,245,245);
    flex-direction: column;
}
.partners-frame1 {
    height: auto;
    width: 77vw;
    display: flex;
    flex-direction: column;
}
.partners-in1 {
    width: 38.4vw;
    letter-spacing: .04rem;
    padding-bottom: 12%;
}
.partners-title {
    display: flex;
    font-size: 45px;
    color: #E83A7D;
}
.partners-headLine {
    color: #3BBFE8;
    display: flex;
    font-size: 17px;
}
.partners-p-a {
    display: flex;
    font-size: 17px;
    white-space: pre-line;
    margin-top: 1%;
    margin-bottom: 7%;
}
.partners-in2 {
    width: 38.4vw;
    padding-bottom: 8.74%;
    position: absolute;
    top: 38.4%;
    right: 11.5%;
    justify-content: center;
    align-items: center;
    letter-spacing: .04rem;
}
.partners-in3 {
    width: 38.4vw;
    justify-content: center;
    align-items: center;
    letter-spacing: .04rem;
    padding-bottom: 10%;
}
.partners-in4 {
    /* height: auto; */
    width: 38.4vw;
    position: absolute;
    top: 132%;
    right: 11.5%;
    justify-content: center;
    align-items: center;
    letter-spacing: .04rem;
    padding-bottom: 7.5%;
}