.mission-frame {
    display: flex;
    height: 545vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(245,245,245);
}

.mission-frame1 {
    height: 75vh;
    width: 77vw;
    /* background-color: rgb(198, 198, 196); */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%
}
.inner1 {
    display: flex;
    position: absolute;
    height: 75vh;
    width: 43vw;
    letter-spacing: .1rem;
    background-color:  rgb(245,245,245);
}
.inner1-title {
    display: flex;
    position: absolute;
    font-size: 45px;
    color: #E83A7D;
}
.inner1-p1 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 22%;
}
.inner1-p2 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 34%;
}
.inner1-p3 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 52%;
}
.inner1-p4 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 74%;
}
.img1-frame {
    display: flex;
    position: absolute;
    right: 0%;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.inner1-img {
    display: flex;
    height: 49vh;
    width: 31vw;
}


.mission-frame2 {
    height: 100vh;
    width: 77vw;
    /* background-color:  rgb(228, 157, 157); */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 115%;
}
.inner2 {
    display: flex;
    position: absolute;
    height: 62.2vh;
    width: 42vw;
    background-color: #FFFFFF;
    margin-top: 11.36%;
    align-items: center;
    justify-content: center;
}
.inner2-p1 {
    height: 24vh;
    width: 35vw;
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-bottom: 13%;
    letter-spacing: .2rem;
    /* background-color: rgb(223, 220, 220); */
}
.inner2-p2 {
    width: 35vw;
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 35%;
    /* background-color: rgb(154, 155, 155); */
}
.img2-frame {
    display: flex;
    position: absolute;
    right: 0%;
    justify-content: center;
    align-items: center;
}
.inner2-img {
    display: flex;
    height: 100vh;
    width: 46.7vw;
}


.mission-frame3{
    height: 125vh;
    width: 77vw;
    /* background-color: rgb(198, 198, 196); */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 225%;
}
.inner3 {
    display: flex;
    position: absolute;
    height: 125vh;
    width: 43.3vw;
    letter-spacing: .1rem;
    background-color:  rgb(245,245,245);
}
.inner3-title{
    display: flex;
    position: absolute;
    font-size: 40px;
    color: #E83A7D;
}
.inner3-p1 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 19%;
    /* background-color: aliceblue; */
}
.inner3-p2 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 36%;
    /* background-color: aliceblue; */
}
.inner3-p3 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 46%;
    /* background-color: aliceblue; */
}
.inner3-p4 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 94%;
    /* background-color: aliceblue; */
}
.inner3-p5 {
    display: flex;
    position: absolute;
    font-size: 18px;
    margin-top: 118%;
    /* background-color: aliceblue; */
}
.img3-frame {
    display: flex;
    position: absolute;
    right: 0%;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.inner3-img {
    display: flex;
    height: 41vh;
    width: 31vw;
}

.mission-frame4{
    height: 200vh;
    width: 100vw;
    background-color: rgb(198, 198, 196);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 364%;
}
.inner4-img {
    display: flex;
    height: 100vh;
    width: 100vw;
}